@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
  --color-accent: #8FA748;
}

a.active{
  @apply text-green-600 underline underline-offset-2
}